<container>
    <row class="footer">
   
     
    <columns class="social-icons-row">
      <spacer size="60"></spacer>
      <center>
      <row class="social-icons">
        <columns large="2">
          <img src="{{root}}/assets/img/touchlab_files/twitter.png">
        </columns>

          <columns large="2">
          <img src="{{root}}/assets/img/touchlab_files/chainlink.png">
        </columns>

          <columns large="2">
          <img src="{{root}}/assets/img/touchlab_files/envelope.png">
        </columns>

          <columns large="2">
          <img src="{{root}}/assets/img/touchlab_files/medium.png">
        </columns>

         <columns large="2">
          <img src="{{root}}/assets/img/touchlab_files/linkedin.png">
        </columns>

         <columns large="2">
          <img src="{{root}}/assets/img/touchlab_files/youtube.png">
        </columns>  
       </row>
   </center>
  </columns>

       <row class="footer">
       	<center>
        <columns>
 		   <p class="footer-text">Copyright © 2020 Touchlab All rights reserved.</p>
 	   </columns>
 	</center>
 	  </row>

 	   <row class="footer">
       	<center>
        <columns>
 		   <p class="text-bold">View it in your browser</p>
 	   </columns>
 	</center>
 	  </row>
      
 	   <row class="footer">
       	<center>
        <columns class="merge-text">
 		   <p class="footer-text">Did someone forward you this newsletter?</p>
 	   </columns>
 	</center>
 	  </row>

 	  <row class="footer">
       	<center>
        <columns>
 		   <p class="text-bold">Subscribe for yourself here</p>
 	   </columns>
 	</center>
 	  </row>
  
    <row class="footer">
       	<center>
        <columns class="merge-text">
 		   <p class="bold">Our mailing address is:</p>
 	   </columns>
 	</center>
 	  </row>

 	  <row class="footer">
       	<center>
        <columns>
 		   <p class="footer-text">1216 Broadway New York, NY 10001</p>
 	   </columns>
 	</center>
 	  </row>

 	   <row class="footer">
       	<center>
        <columns class="merge-text">
 		   <p class="footer-text">Want to change how you receive these emails?</p>
 	   </columns>
 	</center>
 	  </row>

 	  <row class="footer">
       	<center>
        <columns>
 		   <p class="footer-text">You can <span class="text-bold">update your preferences</span> or <span class="text-bold">unsubscribe from this list.</span></p>
 	   </columns>
 	</center>
 	  </row>

 </row>
</container>