<container>
    <row class="footer"> 

    <columns class="social-icons-row">
      <spacer size="60"></spacer>
      <center>

      <row class="social-icons">
        <columns small="2" large="2">
         <a href="#"><img src="https://imgur.com/9GxoM66.png">
         </columns></a>

          <columns small="2" large="2">
          <a href="#"><img src="https://imgur.com/aco44fK.png">
        </columns></a>

          <columns small="2" large="2">
          <a href="#"><img src="https://imgur.com/q6UCHw7.png">
        </columns></a>

          <columns small="2" large="2">
         <a href="#"><img src="https://imgur.com/2CLxeoL.png">
        </columns></a>

         <columns small="2" large="2">
         <a href="#"><img src="https://imgur.com/lW7C5TS.png">
        </columns></a>

         <columns small="2" large="2">
         <a href="#"><img src="https://imgur.com/iSik0x2.png">
        </columns></a> 
        
        </row>
        
        
        <p class="footer-copyright">Copyright © 2020 Touchlab All rights reserved.</p>
     
      
       <p class="text-bold">View it in your browser</p>
    

       <p class="footer-text">Did someone forward you this newsletter?</p>

       <p class="text-bold">Subscribe for yourself here</p>
   

       <p class="bold">Our mailing address is:</p>
    
       <p class="address-text">1216 Broadway New York, NY 10001</p>
      <spacer size="10"></spacer>
  
       <p class="footer-text">Want to change how you receive these emails?</p>
   
       <p class="last-text">You can <span class="text-bold">update your preferences</span> or <span class="text-bold">unsubscribe from this list.</span></p>

    
     </columns>
   </center>
  </columns>
  

 </row>
</container>